.home-container {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: #333;
}

.home-header {
  text-align: center;
  font-size: 2.5rem;
  color: #4e86a6;

}

.home-description {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home-test-section {
  margin: 20px 0;
}

.home-test-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #4e86a6;

}

.home-test-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.home-test-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.home-test-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-test-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #555;
}

.home-test-button {
  background: linear-gradient(90deg, #ff9aa2, #a2d5f2, #b5e7a0);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.home-test-button:hover {
  background: linear-gradient(90deg, #a2d5f2, #b5e7a0, #ff9aa2);
}

.home-new-tests {
  margin: 30px 0;
  text-align: center;
}

.home-new-tests-title {
  font-size: 2rem;
  color: #4e86a6;
}

.home-new-tests-list {
  list-style: none;
  padding: 0;
}

.home-new-tests-list li {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.home-example-result {
  margin: 40px 0;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-example-result-title {
  text-align: center;
  font-size: 2rem;
  color: #4e86a6;
}

.home-example-result-content h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.home-example-result-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
}

.home-pdf-link {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 1rem;
  color: #ff9aa2;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid #ff9aa2;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.home-pdf-link:hover {
  background-color: #ff9aa2;
  color: #fff;
}

.home-new-tests {
  margin: 30px 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 50px;
}

.home-new-tests-marquee {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.2rem;
  color: #1e90ff;
  font-weight: bold;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}